// ===========================================================
//   Variable colors
// ===========================================================

$bg-color: #292927;
$font-color: #EBE8DA;
$font-color-header: rgb(41, 41, 39);
$nav-bg-color1: #F0EDDE;
$nav-bg-color2: #ECE8DA;
$color-button: rgba(0,0,0,0.8);