//		         _             _                   _           _            _           _        
//		        /\ \     _    / /\                /\ \     _  /\ \         /\ \        / /\      
//		       /  \ \   /\_\ / /  \              /  \ \   /\_\\_\ \       /  \ \      / /  \     
//		      / /\ \ \_/ / // / /\ \            / /\ \ \_/ / //\__ \     / /\ \ \    / / /\ \__  
//		     / / /\ \___/ // / /\ \ \          / / /\ \___/ // /_ \ \   / / /\ \_\  / / /\ \___\ 
//		    / / /  \/____// / /  \ \ \        / / /  \/____// / /\ \ \ / /_/_ \/_/  \ \ \ \/___/ 
//		   / / /    / / // / /___/ /\ \      / / /    / / // / /  \/_// /____/\      \ \ \       
//		  / / /    / / // / /_____/ /\ \    / / /    / / // / /      / /\____\/  _    \ \ \      
//		 / / /    / / // /_________/\ \ \  / / /    / / // / /      / / /______ /_/\__/ / /      
//		/ / /    / / // / /_       __\ \_\/ / /    / / //_/ /      / / /_______\\ \/___/ /       
//		\/_/     \/_/ \_\___\     /____/_/\/_/     \/_/ \_\/       \/__________/ \_____\/        
//		         _             _            _          _                                         
//		        /\ \     _    /\ \         /\ \       /\ \                                       
//		       /  \ \   /\_\ /  \ \       /  \ \     /  \ \____                                  
//		      / /\ \ \_/ / // /\ \ \     / /\ \ \   / /\ \_____\                                 
//		     / / /\ \___/ // / /\ \ \   / / /\ \_\ / / /\/___  /                                 
//		    / / /  \/____// / /  \ \_\ / / /_/ / // / /   / / /                                  
//		   / / /    / / // / /   / / // / /__\/ // / /   / / /                                   
//		  / / /    / / // / /   / / // / /_____// / /   / / /                                    
//		 / / /    / / // / /___/ / // / /\ \ \  \ \ \__/ / /                                     
//		/ / /    / / // / /____\/ // / /  \ \ \  \ \___\/ /                                      
//		\/_/     \/_/ \/_________/ \/_/    \_\/   \/_____/                                       
//		                                                                                         

// ==========================================================================
//	 ** Sass **
// ==========================================================================


@import "colors", "typo", "layout", "navigation", "slider";


/* page contribution styles */

.error {
  
}  
.sucess {
  
}  

form {
  width: 70%;
  margin: 0 auto;
}

.choses section {
/*  padding-top: 5%;
  padding-bottom: 5%;*/

/*  @media screen and (min-width: 480px) {
		padding-left: 10%;
		padding-right: 10%;
	}

	@media screen and (min-width: 720px) {
		padding-left: 30%;
		padding-right: 30%;
	}*/
}

.choses:nth-child(odd) section {
	text-align: left;
}

.choses:nth-child(even) section {
	text-align: right;
}

#menu-contrib {
  
  @media screen and (orientation: portrait) {
  	position: fixed;
  }
  position: fixed;
  @media screen and (orientation: landscape) and (max-width: 768px) {
  	position: absolute;
  }

  z-index: 1000;
  width: 100%;
  height: 100px;
  background: blue;
  background-color: #f0edde;
  background-image: linear-gradient(138deg, #f0edde 80%, #f0edde 80%, #ece8da 80%, #f0edde 100%);
}

#button-form-toggle {
  margin: 0 auto;
  width: 400px;
  margin-top: 20px;
  font-family: 'Holmes';
  font-size: 2em;

  /*
  border-radius: 45px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: rgba(0,0,0,0.6);*/
  text-align: center;
  text-decoration: underline;
  color: rgb(0,0,0);
  cursor: pointer;

  	@media screen and (min-width: 480px) {
		font-size: 2em;
	}

	@media screen and (min-width: 720px) {
		font-size: 3em;
	}
}

#form-container {
  padding-top: 100px;
  height: 100%;
  background-color: rgb(54, 91, 99);
}

.chose {
  width: 180px;
  height: 180px;

  @media screen and (min-width: 480px) {
		width: 200px;
  		height: 200px;
	}
  @media screen and (min-width: 768px) {
		width: 200px;
  		height: 200px;
  }
}

.odd {
  margin: 0 10px;
  border: 1px solid #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  float: center;
  	max-width: 350px;
  	min-width: 200px;
  @media screen and (min-width: 768px) {
  	max-width: 500px;
  	float: left;
  	min-width: 200px;
  }
}

.even {
  margin: 0 10px;
  border: 1px solid #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  float: center;
  	max-width: 350px;
  	min-width: 200px;
  @media screen and (min-width: 768px) {
  	max-width: 500px;
  	float: right;
  	min-width: 200px;
  }
}

.container-chose {
	text-align: center;
	@media screen and (min-width: 1024px) {
  	  width: 80%;
  	  margin-left: 10%;
  }
  margin-bottom: 4%;
}

/* #C9BD9D", "#BD4B57", "#403859", "#A63A59", "#92C0A9", "#C68847", "#DDBF74", "#365B63" */

.choses:nth-child(1) {
  margin-top: 100px;
}

.choses:nth-child(8n+1) {
  background-color: #C9BD9D;
}

.choses:nth-child(8n+2) {
  background-color: #BD4B57;
}

.choses:nth-child(8n+3) {
  background-color: #403859;
}

.choses:nth-child(8n+4) {
  background-color: #A63A59;
}

.choses:nth-child(8n+5) {
  background-color: #92C0A9;
}

.choses:nth-child(8n+6) {
  background-color: #C68847;
}

.choses:nth-child(8n+7) {
  background-color: #DDBF74;
}

.choses:nth-child(8n+8) {
  background-color: #365B63;
}

/*
@media (max-width: 480px) and (max-width: 768px) { 
	#logo {
		margin-top: -10px !important;
		margin-left: auto !important;
		margin-right: auto !important;
		width: 360px;
	}

	.picto-mini {
		width: 90px;
	}

	h2 {
		font-size: 2em;
	}

	section {
		font-size: 1.4em;
		height: 100%;
	}

	#container-nav {
		height: 100%;
	}

	.slideButton {
		font-size: 0.7em !important;
	}
}

@media (max-width: 1024px) and (orientation:landscape) {
	.nav-header-phone-landscape {
		display: block !important;
	}

	img {
        	width: 130px;
        }

	.nav-header {
		display: none !important;
	}

	#logo {
		margin-top: -20px;
		margin-bottom: -40px;
		min-height: 90px !important;
		font-size: 100%;
	}

	.nav-header-phone-portrait {
		display: none !important;
	}

	#container-nav {
		height: 130%;
	}

	.slide-01 {
		margin-top: 20px;
	}

	.slideButton {
		margin-top: 0px !important;
	}

	#video-player {
		margin-top: 20px;
	}
}

@media (max-width: 360px) and (orientation: portrait) {
	.nav-header-phone-portrait {
		height: 100%;
		display: block;
	}

	.nav-phone {
		margin-top: -60px;
	}

	.slideButton {
		margin-top: -7px;
		background-size: 160px 160px;
		margin-bottom: -50px;
		padding-top: 70px;
		padding-left: 63px;
	}

	#logo {
		margin-top: -30px !important;
		margin-bottom: 0px !important;
		max-width: 280px;
		margin-top: 20px;
		background-size: 180px 180px;
		height: 90px;
		width: 180px;
		margin-bottom: -20px;
	}

	.nav-header-phone-portrait {
		min-height: 440px;
	}


	#logo {
		margin-top: -20px !important;
		margin-bottom: -60px !important;
		max-width: 480px;
		padding-bottom: -70px !important;
		font-size: 1em;
		width: 300px;
	}

	section {
		height: 120%;
		text-align: justify;
		padding-right: 25px;
		font-size: 0.9em !important;
		padding-left: 45px;
	}
	section h2 {
		text-align: left;
	}

	.picto-mini {
		width: 70px;
	}

	.texte {	
		text-align: justify;
	}

	#video-player {
		width: 200px;
		height: 200px;
		margin-top: 20px !important;
		margin-left: auto;
		margin-right: auto;
	}

	.btn-circle {
		margin-top: 35px;
		margin-left: 70px;
		margin-right: auto;
	}

	.social {
		margin-top: 30px;
		margin-left: 80px;
	}
}


@media (min-width: 0px) and (max-width: 1024px) and (orientation: portrait) { 
	#logo {
		margin-top: -10px !important;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 30px;
		height: 130px;
		width: 200px;
		font-size: 1em;
	}
	

	.picto-mini {
		width: 90px;
	}

	h2 {
		font-size: 2em;
	}

	section {
		font-size: 1.4em;
		height: 120%;
	}

	#container-nav {
	height: 130% !important;
	}

	.nav-phone {
		margin-top: -40px;
	}

	.nav-header-phone-portrait {
		height: 100%;
		display: block;
	}

	.slideButton {
		font-size: 0.7em;
	}

}

@media (max-width: 992px) and (min-height: 768px) {

}


@media (min-width: 768px) and (max-width: 992px) { 

	#logo {
		margin-top: 7px;
		margin-left: -10px;
	}

	#video-player {
		margin-top: -40px;
	}
}


@media (min-width: 1025px) and (max-width: 1200px) { 

	#video-player {
		margin-top: -80px;
	}

	#container-nav {
		height: 0%;
	}

	#logo {
		min-width: 200px;
		margin-left: 5px;
	}

	nav {
		margin-left: -20px;
	}

	nav ul li {
		display: inline;
		width: 15%;
		padding: 0;
		margin-top: 5%;
		margin-left: -10px;
		margin-right: -10px;
	}
}

*/


