// Gradient background header & footer
  	  @mixin gradient-bg($deg, $color1, $color2, $percent) {
		background-image: linear-gradient($deg, $color1 $percent, $color1 $percent, $color2 $percent, $color1 100%);
	}

@mixin nav {
	display: none;
	min-height: 100%;
	height: 120%;
	width: 100%;
	text-align: center;
	color: $font-color-header;
	padding-top: 52px;
	@media screen and (orientation: portrait) {
		padding-top: 80px;
	}
	background-color: bg-color;
	background-image: linear-gradient(138deg, #F0EDDE 80%, #ECE8DA 80%) !important;
	transform: translateY(0%);
	transition: all 0.5s;
    transition-property: height, top, padding-top;

    a {
    	color: $font-color-header !important;
    }
}

#container-nav {
	@media screen and (orientation: landscape) {
		height: 100%;
		.picto-min {
			width: 20px;
		}
	}

	@media screen and (orientation: landscape) and (max-width: 720px) {
		// height: 150%;
		height: 90%;
		.picto-min {
			width: 20px;
		}
	}

	@media screen and (orientation: portrait) {
		height: 90%;
	}

	@media screen and (orientation: portrait) and (min-width: 480px) {
		height: 90%;
	}

	@media screen and (min-width: 992px) {
		height: 0;
	}
}


// ====================================================================
//   Menu Desktop
// ====================================================================

/* picto en ligne */
nav ul li {
	display: inline;
	width: 11%;
	text-align: center;
	float:left;
	margin-top: 40px;
	margin-right: -2%;
	color: $font-color-header !important;
	&:hover {
		transition: all 0.5s;
		margin-top: 5.5%;
	}
	a {
		color: black !important;
		font-size: 0.8em;
		img {
			margin-bottom: -15px;
		}
	}
}

.nav-header {
	width: 100%;
	display: none;
	@media screen and (min-width: 992px) {
		display: block;
	}
	position: fixed;
	z-index: 101;
	top: 3%;
	color: $font-color-header;
	height: 200px;
	padding: 10px 20px 30px 20px;
	background-color: $nav-bg-color1;
	@include gradient-bg(138deg, $nav-bg-color1, $nav-bg-color2, 80%);
	transform: translateY(0%);
	transition: all 0.5s;
    transition-property: height, top, padding-top;
    @media screen and (min-width: 992px) {
		padding-top: 25px;
	}
}


// Menu minimized

.nav-header-shrink {
	width: 100%;
	top: 0%;
	height: 100px;
	padding-top: 15px;
	nav {
		margin-top: -40px;
	}
	img[id*="picto"] {
		width: 70px;
	}
	#logo {
		margin-top: 5px;
	}
	#vlipp-logo {
		width: 6%;
		margin-top: 1%;
	}
}


// ====================================================================
//   Menu mobile & tablet
// ====================================================================

/* menu picto landscape & portrait */
.nav-phone {
	margin-left: auto;
  	margin-right: auto;
  	max-height: 40%;

  	img {
  		width: 110px;
  		@media screen and (orientation: landscape) {
  			width: 70px ;
  		}
  		@media screen and (orientation: landscape) and (min-width: 640px) {
  			width: 130px ;
  		}
  		@media screen and (orientation: portrait) and (min-width: 768px) {
  			width: 130px ;
  			margin-top: 30px;
  		}
  	}

  	@media screen and (min-width: 480px) and (orientation: portrait) {
  		margin-top: 10%;
  	}

  	a {
		font-size: 0.8em;
		img {
			margin-bottom: -15px;
		}
	}
	#vlipp-logo {
		width: 100px;
			margin-top: 20px;
			margin-right: -50px;
		@media screen and (min-width: 480px) {
			margin-top: 20px;
			margin-right: -63px;
		}
	}
	
}

.nav-header-phone-portrait {
	@include nav;
	height: 120%;
	@media screen and (orientation: portrait) {
		display: block;
	}
	@media screen and (orientation: landscape) {
		display: none;
	}
	@media screen and (min-width: 720px) {
		font-size: 2em;
	}
	#logo {
  		max-width: 60%;
  		margin: 0 auto;
  		margin-top: -50px;
  		@media screen and (min-width: 720px) {
			margin-bottom: -50px;
		}
  	}
  	.picto-mini {
  		width: 80px;
		cursor: pointer;
	}

}

.nav-header-phone-landscape {
	@include nav;
	display: none;
	@media screen and (orientation: landscape) {
		display: block;
	}
	@media screen and (min-width: 720px) {
		font-size: 1.7em;
	}
	@media screen and (min-width: 992px) {
		display: none;
	}
	#vlipp-logo-landscape {
		/*margin-top: 100px !important;*/
		width: 120px;
		margin: 0 auto;
	}
}



// ====================================================================
//   Logo & others
// ====================================================================

#vlipp-logo {
	width: 6%;
	margin-top: 75px;
	margin-right: 10px;
	float: right;
}

#logo {
	cursor: pointer;
	font-family: $font-header;
	font-size: 2em;
	cursor: pointer;
	text-align: center;
	margin-top: -30px;
	margin-bottom: 30px;
	@media screen and (min-width: 992px) {
		margin-top: 40px;
		font-size: 1.7em;
		width: 200px;
	}
}

#copyright {
	margin: 3em 0 0 0;
}

.social {
	margin-top: 15px;
	& .fb-like {
		margin-right: 3px;
	}
}

#scroll-top {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 10px;
	right: 10px;
	border-radius: 100px;
	text-align: center;
	line-height: 65px;
	font-size: 2.5em;
	background-color: black;
	opacity: 0.4;
	cursor: pointer;
}

#retour {
	position: fixed;
	width: 60px;
	height: 60px;
	top: 10px;
	left: 10px;
	border-radius: 100px;
	text-align: center;
	line-height: 60px;
	font-size: 1em;
	background-color: rgba(0,0,0,0.8);
	color: black;
	opacity: 0.9;
	cursor: pointer;
	a {
		color: white;
	}

	@media screen and (min-width: 480px) {
		width: 80px;
		height: 80px;
		line-height: 80px;
	}

}

// ====================================================================
//   Footer
// ====================================================================

footer {
	@include gradient-bg(138deg,$nav-bg-color1,$nav-bg-color2,80%);
	padding: 2em 5em 2em 2em;
	color: $font-color-header;
	.footer-list {
		margin: 0;
		padding: 0;
		letter-spacing: -1px;

		li {
			list-style: none;
			}
	}
	#vlipp-footer {
		width: 110px;
		float: right;
	}

	a {
		color: $font-color-header;
	}
}

// ====================================================================
//   Mediaqueries retina
// ==================================================================== 


@media
    only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (min-device-pixel-ratio: 1.3),
    only screen and (min-resolution: 120dpi) {

        
        img {
        	width: 80px;
        }
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width: 1023px),
    only screen and (min-device-pixel-ratio: 1.3),
    only screen and (min-resolution: 120dpi) {

        
        img {
        	width: 130px;
        }
}
