
.slideButton {
    position: relative;
    margin-top: 1%;
    background-image: url('../images/play.png');
    background-repeat: no-repeat;
    background-size: 150px 150px;
/*    max-height: 220px;
    max-width: 220px;*/
    cursor: pointer;
    z-index: 100;
    padding: 33% 35% 35% 30%;
    line-height: 14px;
    color: black;

    @media screen and (min-width: 992px) {
    	&:nth-child(odd) {
    		padding: 50% 45% 35% 45%;
    	}
		&:nth-child(even) {
    		padding: 50% 45% 35% 30%;
    	}
		background-size: 220px 220px;
		height: 220px;
    	width: 220px;
    	margin-top: -50px;
	}
	@media screen and (orientation: landscape) {
		&:nth-child(odd) {
    		padding: 38% 45% 35% 37%;
    	}
		&:nth-child(even) {
    		padding: 38% 45% 35% 30%;
    	}
		background-size: 180px 180px;
		height: 180px;
    	width: 180px;
	}

	.right {
		@media screen and (orientation: landscape) and (max-width: 481px) {
			max-width: 100px;
		}
		@media screen and (min-width: 768px) and (max-width: 992px) {
			margin-left: -100px;
		}
	}

	.left {
		@media screen and (min-width: 768px) and (max-width: 992px) {
			margin-left: 0px;
		}
	}
    	
	
}

.slideButton-illus {
	cursor: pointer;
	color: black;
	margin-top: 20px;
	padding-top: 6px;
	padding-left: 5px;
	background-color: rgba(255, 255, 255, 0.8);
	width: 130px;
	height: 35px;
}

/* Slide animation */

/* contient les deux sections et garde la fenêtre à la bonne taille */

section {
	width: 100%;
	z-index: 1005;
	overflow: hidden;
	.slide {
		width: 200%;
		height:100%;
		padding:0;
		margin:0;
		list-style-type: none;
	  transition: all 800ms ease-in-out;

		li {
			display: table;
			height:100%;
			width:50%;
			float:left;

			.row {
				display: table-cell;
				vertical-align: middle;
				width:100%;

				video {
					opacity:1;
				}
			}
		}
	}
}

.slide-02 {
	  	opacity: 0;
	  	transition: all 0.5s;
	}

.csstransforms3d {
	 .slided {
	  transform: translate3d(-50%,0,0);
	  transition: all 800ms ease-in-out;
	  .slide-01 {
	  	opacity: 0;
	  	transition: all 0.5s;
	  }
	  .slide-02 {
	  	opacity: 1;
	  	transition: all 0.5s;
	  }
	}
}
.no-csstransforms3d {
	.slide {
	  position: absolute;
	  left:0;
		&.slided {
		  left:-100%;
		}
	}
}

/* FIN Slide animation */